.Header {
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 16px;
	color: black;
	height: 160px;

	.Header-line {
		position: absolute;
		bottom: -10px;
		left: 2.5%;
		height: 30px;
		width: 95%;
		background-color: black;
	}

	.Header-logo {
		position: absolute;
		top: 13px;
		left: 2.5%;
		width: 160px;
		height: 110px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-image: url("../images/logo.svg");
	}

	.Header-navigation {
		text-align: right;
		ul.menu {
			list-style-type: none;
			li.menu-item {
				display: inline-block;
				padding: 5px 30px;
				margin-top: 5px;
				margin-right: 20px;
				text-decoration: none;
				border-radius: 10px;
				border: 1px solid black;
				cursor: pointer;
				a {
					text-decoration: none;
					display: inline-block;
					border-radius: 0;
					color: black;
				}
				&:first-of-type {
					position: absolute;
					top: 80px;
					right: 300px;
					border: 1px solid $red;
					background-color: $red;
					transition: all 0.3s ease-in-out;
					a {
						color: white;

					}
					&:hover {
						border: 1px solid darken($red, 7%);
						background-color: darken($red, 7%);
					}
				}
			}
		}
	}
}